body { font-family: ".SF Compact Rounded Medium", -apple-system, system-ui, BlinkMacSystemFont, "Helvetica", "Segoe UI", Roboto, Ubuntu; }
a { color: #21a9ff;  }
a:hover, a.selected:hover, a:visited:hover { color: #fa3ebe; }
a:visited { color: #21a9ff; }
a.selected { color: #105CD5; }
input[type=radio]:checked:after, input[type=checkbox]:checked:after, input[type=reset], input[type=submit], a.button, button { color: #ffffff; background-color: #21a9ff;}
input[type=reset]:hover, input[type=submit]:hover, a.button:hover, button:hover { color: #ffffff; background-color: #fa3ebe; }

svg {
    vertical-align: text-bottom;
}
#pagination svg, #pagination span {
    padding: 0 0.5rem;
}
#pagination svg {
    height: 1rem;
    width: 1rem;
}

input, textarea, select {
    width: 100%;
}
input[type=radio], input[type=checkbox], input[type=submit], input[type=reset] {
    width: auto;
}
