<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">

    <title>Install - Feather CMS</title>
    
    <link rel="shortcut icon" href="/images/icons/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/binarybirds/peacock-css@1.0.0-beta.4/peacock.min.css">

    #for(file in InvokeAllHooks("frontend-css")):
        #if($app.isDebug ?? false):
        <link rel="stylesheet" href="/css/#(file.name).css">
        #else:
        <link rel="stylesheet" href="/css/#(file.name).min.css">
        #endif
    #endfor
</head>

<body>
    <header id="header" class="container padding-s text-align-center">
        <a id="logo" href="/" style="float: none;">
            <img src="/images/logo-text.png" alt="Logo of #($system.variables["frontend.site.title"])" title="#($system.variables["frontend.site.title"])">
        </a>
    </header>

    <main class="container text-align-center">
        #body()
    </main>
</body>
</html>
