#define(title):
#(table.title ?? "List")
#enddefine

#define(body):
<header class="margin-bottom">
    <h1 class="margin-top-zero">#(table.title ?? "List")</h1>
    <p class="margin-top-zero">
        #var(navItems = [])
        #if((table.create ?? true) && UserHasPermission(table.key + ".create")):
            #(navItems.append(["link": $req.url.path + "create/", "label": "Create new"]))
        #endif
        #for(navItem in navItems + table.nav ?? []):
            #if(!isFirst): &middot; #endif<a href="#(navItem.link)"#if(navItem.targetBlank ?? false): target="_blank"#endif>#(navItem.label)</a>
        #endfor
    </p>
</header>
<section>
    #if(table.search ?? true):
    <form id="search-form" action="#($req.url.path)" method="get" class="margin-bottom">
        #if(Request(query: "sort") != nil):
        <input type="hidden" id="sort" name="sort" value="#Request(query: "sort")">
        #endif
        #if(Request(query: "order") != nil):
        <input type="hidden" id="order" name="order" value="#Request(query: "order")">
        #endif
        <input type="text" id="search" name="search" placeholder="Search..." value="#Request(query: "search")">
    </form>
    #endif
    
    #if(list.items.isEmpty()):
        #inline("Admin/Empty")
    #else:
    <table>
        <thead>
            <tr class="background-1 text-align-left">
                #th()
            </tr>
        </thead>
        <tbody>
            #tr()
        </tbody>
    </table>

    <div id="pagination" class="margin-top margin-bottom-xl text-align-center">
    #inline("Admin/Pagination")
    </div>
    #endif
</section>
#enddefine

#inline("Admin/Index")
