#define(title):
Dashboard
#enddefine

#define(body):
<header class="margin-bottom">
    <h1 class="margin-top-zero">Dashboard</h1>
    <p class="margin-top-zero">Welcome <b>#($user.email)</b>, this is your admin interface.</p>
</header>

<section class="grid-321 grid-gap">
    #for(menu in InvokeAllHooks("admin-menu")):
        #if(UserHasPermission(menu.permission) ?? true):
        <div class="grid-col1 background padding border-radius-s shadow-xl" style="position: relative; min-height: 144px; overflow: hidden;">
            <span style="position: absolute; top: 2rem; right: 1.5rem;">#svg(menu.icon, class: "block size-s color-secondary")</span>
            <h3 class="margin-bottom-s margin-top-zero">#(menu.name)</h3>
            <ul class="list-style-off">
            #for(item in menu.items):
                #if(UserHasPermission(item.permission) ?? true):
                <li><a href="#(item.url)">#(item.label)</a></li>
                #endif
            #endfor
            </ul>
        </div>
        #endif
    #endfor
</section>

#enddefine
#inline("Admin/Index")
