#var(actions = [] + table.actions ?? [])

#if((table.edit ?? true) && UserHasPermission(table.key + ".update")):
    #(actions.append(["link": "/update/", "label": "Edit", "icon": "edit-2", "width": "80px"]))
#endif

#if((table.delete ?? true) && UserHasPermission(table.key + ".delete")):
    #(actions.append(["link": "/delete/", "label": "Delete", "icon": "trash", "width": "80px"]))
#endif

#define(css):
tr {
    grid-template-columns: repeat(#max(1, actions.count()), 1fr);
}
@media (min-width: 600px) {
    tr {
        grid-template-columns:#for(f in table.fields ?? []): #(f.width ?? "1fr")#endfor #for(a in actions): #(a.width ?? "1fr")#endfor;
    }
}
#enddefine

#define(th):
    #for(field in table.fields ?? []):
    <th class="margin-horizontal-xs compact-center #if(!actions.isEmpty()): compact-col#(actions.count())#endif">
        #let(link = [
             "key": field.property ?? field.key,
             "default": field.default ?? false,
             "sort": field.sort ?? "asc",
             "label": field.label ?? field.property.capitalized() ?? field.key.capitalized()
        ])
        #inline("Admin/SortLink")
    </th>
    #endfor

    #for(action in actions):
        <th class="text-align-center compact-hidden margin-right-s">#(action.label)</th>
    #endfor
#enddefine

#define(tr):
    #for(item in list.items):
        #let(canView = (table.view ?? true) && UserHasPermission(table.key + ".get"))
        

    <tr class="margin-bottom-s shadow-s padding-s">

        #for(field in table.fields ?? []):
        <td class="margin-horizontal-xs compact-margin compact-center #if(!actions.isEmpty()): compact-separator compact-col#(actions.count())#endif">
            
            #let(fieldType = field.type ?? "string")

            #var(value = "")
            #if(field.property ?? "" != ""):
                #var(value = item[field.key][field.property ?? ""])
            #else:
                #var(value = item[field.key])
            #endif

            #if(fieldType == "date"):
                #var(value = Date(timeStamp: value, fixedFormat: $app.dateFormats.full, timeZone: $app.timezone))
            #elseif(fieldType == "image"):
                #var(value = "<img src='" + value.resolve() + "'>")
            #endif
            
            #if(value.isEmpty()):
                #var(value = field.placeholder ?? "")
            #endif

            #if(canView):
                <a href="#($req.url.path)#(item.id)/">#(value)</a>
            #else:
                #(value)
            #endif
            
        </td>
        #endfor

        #for(action in actions):
        <td class="text-align-center compact-margin">
            <a href="#($req.url.path)#(item.id)#(action.link)">#svg(action.icon)</a>
        </td>
        #endfor
    </tr>
    #endfor
#enddefine

#inline("Admin/BaseTable")
